/* Copyright 2020 Tom Smilack
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/*
 * General
 */

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "Fredoka One", "Verdana", sans-serif;
}

#screen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

text {
    dominant-baseline: middle;
    text-anchor: middle;
    fill: white;
    stroke: black;
    stroke-linejoin: miter;
    cursor: default;
    user-select: none;
}

text.left {
    text-anchor: start;
}

text.center {
    text-anchor: middle;
}

.title {
    font-size: 20;
    stroke-width: 0.75;
}

.text {
    font-size: 9;
    stroke-width: 0.3;
}

a .text {
    font-size: 7.5;
    stroke-width: 0.3;
    stroke: black;
    fill: white;
    text-decoration: underline;
    cursor: pointer;
    transition: stroke 0.3s, fill 0.3s;
}

a:hover .text,
a:active .text {
    stroke: white;
    fill: #673ab7
}

.timer {
    font-size: 12;
    stroke-width: 0.4;
    text-anchor: end;
    transition: fill 1s;
}

@keyframes flashTimerOutline {
    50% { stroke: #d9d9d9; stroke-width: 0.5; }
    100% { stroke-width: 0.4; }
}

.winner .timer {
    animation: 1s ease-in-out 0s 1 normal none running flashTimerOutline;
}


/*
 * Options Menu
 */

.hard-mode {
    stroke: black;
    fill: red;
}

.option {
    font-size: 9;
    stroke-width: 0.3;
    cursor: pointer;
    transition: stroke 0.3s, fill 0.3s;
}

.option:hover {
    stroke: white;
    fill: #673ab7;
}

/*
 * Menus
 */

.organize,
.new-game,
.back {
    font-size: 10;
    stroke-width: 0.5;
    cursor: pointer;
    transition: font-size 0.3s, stroke 0.3s, fill 0.3s;
    text-anchor: middle;
}

.organize:hover,
.new-game:hover,
.back:hover {
    font-size: 12;
    stroke: white;
    fill: #673ab7;
}

.new-game {
    opacity: 1;
    transition: font-size 0.3s, stroke 0.3s, fill 0.3s, opacity 0.75s 2.75s;
}

.new-game.hidden {
    opacity: 0;
    transition: font-size 0.3s, stroke 0.3s, fill 0.3s, opacity 0.75s 0.25s;
    pointer-events: none;
}

.organize {
    opacity: 1;
    transition: font-size 0.3s, stroke 0.3s, fill 0.3s, opacity 1s 3s;
}

.organize.hidden {
    opacity: 0;
    transition: font-size 0.3s, stroke 0.3s, fill 0.3s, opacity 1s 0.25s;
    pointer-events: none;
}

.menu-option {
    font-size: 12;
    stroke-width: 0.5;
    cursor: pointer;
    transition: font-size 0.3s, stroke 0.3s, fill 0.3s;
}

.menu-option:hover {
    font-size: 14;
    stroke: white;
    fill: #673ab7;
}

.list-header {
    font-size: 11;
    stroke-width: 0.5;
}

.list-entry {
    font-size: 8;
    stroke-width: 0.3;
    text-anchor: end;
}

/*
 * Background
 */

@keyframes drift {
    from { transform: translate(0, 0); }
    to { transform: translate(-80px, -92px); }
}

.bgpattern {
    animation: drift 30s linear infinite;
}

.bgpattern.stopped {
    animation-play-state: paused;
}

.bgpattern.hidden {
    display: none;
}

/*
 * Labels
 */

.label {
    font-size: 8;
    stroke-width: 0.333;
    cursor: grab;
    opacity: 1;
    transition: opacity 2.5s 0.5s;
}

/*.palette:not(.palette-transparent)*/ .winner .label {
    opacity: 0;
}

.dragging .label {
    cursor: grabbing;
}

.no-labels .label {
    fill: none;
    stroke: none;
    display: none;
}

/*
 * Palettes
 */

.palette-resistors   .wedge.label-0 { fill: #000000; stroke: #000000; }
.palette-resistors   .wedge.label-1 { fill: #884400; stroke: #884400; }
.palette-resistors   .wedge.label-2 { fill: #ff0000; stroke: #ff0000; }
.palette-resistors   .wedge.label-3 { fill: #ff8800; stroke: #ff8800; }
.palette-resistors   .wedge.label-4 { fill: #ffff00; stroke: #ffff00; }
.palette-resistors   .wedge.label-5 { fill: #00ee00; stroke: #00ee00; }
.palette-resistors   .wedge.label-6 { fill: #1122ff; stroke: #1122ff; }
.palette-resistors   .wedge.label-7 { fill: #8800ff; stroke: #8800ff; }
.palette-resistors   .wedge.label-8 { fill: #888888; stroke: #888888; }
.palette-resistors   .wedge.label-9 { fill: #ffffff; stroke: #ffffff; }

.palette-mondrian    .wedge.label-0 { fill: #ffffff; stroke: #ffffff; }
.palette-mondrian    .wedge.label-1 { fill: #292929; stroke: #292929; }
.palette-mondrian    .wedge.label-2 { fill: #dd0100; stroke: #dd0100; }
.palette-mondrian    .wedge.label-3 { fill: #fac901; stroke: #fac901; }
.palette-mondrian    .wedge.label-4 { fill: #225095; stroke: #225095; }
.palette-mondrian    .wedge.label-5 { fill: #ffffff; stroke: #ffffff; }
.palette-mondrian    .wedge.label-6 { fill: #292929; stroke: #292929; }
.palette-mondrian    .wedge.label-7 { fill: #dd0100; stroke: #dd0100; }
.palette-mondrian    .wedge.label-8 { fill: #fac901; stroke: #fac901; }
.palette-mondrian    .wedge.label-9 { fill: #225095; stroke: #225095; }

.palette-material    .wedge.label-0 { fill: #FF5722; stroke: #FF5722; }
.palette-material    .wedge.label-1 { fill: #E91E63; stroke: #E91E63; }
.palette-material    .wedge.label-2 { fill: #9C27B0; stroke: #9C27B0; }
.palette-material    .wedge.label-3 { fill: #3F51B5; stroke: #3F51B5; }
.palette-material    .wedge.label-4 { fill: #2196F3; stroke: #2196F3; }
.palette-material    .wedge.label-5 { fill: #00897B; stroke: #00897B; }
.palette-material    .wedge.label-6 { fill: #4CAF50; stroke: #4CAF50; }
.palette-material    .wedge.label-7 { fill: #FFEB3B; stroke: #FFEB3B; }
.palette-material    .wedge.label-8 { fill: #FF9800; stroke: #FF9800; }
.palette-material    .wedge.label-9 { fill: #795548; stroke: #795548; }

/* http://mkweb.bcgsc.ca/colorblind/palettes.mhtml */
.palette-colorblind  .wedge.label-0 { fill: #323232; stroke: #323232; }
.palette-colorblind  .wedge.label-1 { fill: #bf3465; stroke: #bf3465; }
.palette-colorblind  .wedge.label-2 { fill: #50b29e; stroke: #50b29e; }
.palette-colorblind  .wedge.label-3 { fill: #d9d9d9; stroke: #d9d9d9; }
.palette-colorblind  .wedge.label-4 { fill: #731683; stroke: #731683; }
.palette-colorblind  .wedge.label-5 { fill: #1c6ccc; stroke: #1c6ccc; }
.palette-colorblind  .wedge.label-6 { fill: #21bcff; stroke: #21bcff; }
.palette-colorblind  .wedge.label-7 { fill: #dfa5e5; stroke: #dfa5e5; }
.palette-colorblind  .wedge.label-8 { fill: #db6d1b; stroke: #db6d1b; }
.palette-colorblind  .wedge.label-9 { fill: #f4e345; stroke: #f4e345; }

.palette-grayscale   .wedge.label-0 { fill: #000000; stroke: #000000; }
.palette-grayscale   .wedge.label-1 { fill: #1e1e1e; stroke: #1e1e1e; }
.palette-grayscale   .wedge.label-2 { fill: #353535; stroke: #353535; }
.palette-grayscale   .wedge.label-3 { fill: #4e4e4e; stroke: #4e4e4e; }
.palette-grayscale   .wedge.label-4 { fill: #696969; stroke: #696969; }
.palette-grayscale   .wedge.label-5 { fill: #858585; stroke: #858585; }
.palette-grayscale   .wedge.label-6 { fill: #a2a2a2; stroke: #a2a2a2; }
.palette-grayscale   .wedge.label-7 { fill: #c0c0c0; stroke: #c0c0c0; }
.palette-grayscale   .wedge.label-8 { fill: #dfdfdf; stroke: #dfdfdf; }
.palette-grayscale   .wedge.label-9 { fill: #ffffff; stroke: #ffffff; }

.palette-classic     .wedge.label-0 { fill: #858585; stroke: #858585; }
.palette-classic     .wedge.label-1 { fill: #858585; stroke: #858585; }
.palette-classic     .wedge.label-2 { fill: #858585; stroke: #858585; }
.palette-classic     .wedge.label-3 { fill: #858585; stroke: #858585; }
.palette-classic     .wedge.label-4 { fill: #858585; stroke: #858585; }
.palette-classic     .wedge.label-5 { fill: #858585; stroke: #858585; }
.palette-classic     .wedge.label-6 { fill: #858585; stroke: #858585; }
.palette-classic     .wedge.label-7 { fill: #858585; stroke: #858585; }
.palette-classic     .wedge.label-8 { fill: #858585; stroke: #858585; }
.palette-classic     .wedge.label-9 { fill: #858585; stroke: #858585; }

.palette-transparent .wedge.label-0 { fill: transparent; stroke: transparent; }
.palette-transparent .wedge.label-1 { fill: transparent; stroke: transparent; }
.palette-transparent .wedge.label-2 { fill: transparent; stroke: transparent; }
.palette-transparent .wedge.label-3 { fill: transparent; stroke: transparent; }
.palette-transparent .wedge.label-4 { fill: transparent; stroke: transparent; }
.palette-transparent .wedge.label-5 { fill: transparent; stroke: transparent; }
.palette-transparent .wedge.label-6 { fill: transparent; stroke: transparent; }
.palette-transparent .wedge.label-7 { fill: transparent; stroke: transparent; }
.palette-transparent .wedge.label-8 { fill: transparent; stroke: transparent; }
.palette-transparent .wedge.label-9 { fill: transparent; stroke: transparent; }


/*
 * Hexes
 */

.hex-container {
    cursor: grab;
}

.winner .hex-container {
    pointer-events: none;
} 

.dragging .hex {
    pointer-events: none;
}

.hex-outline {
    stroke-linejoin: bevel;
    stroke: white;
    stroke-width: 0.17;
    fill: transparent;
    transition: stroke 2.5s 0.5s;
}

.winner .hex-outline {
    stroke: transparent;
}

.palette-transparent .hex-outline {
    stroke: transparent;
}

.wedge {
    pointer-events: none;
    stroke-width: 0.17;
    transition: stroke 2.5s 0.5s;
    stroke-linejoin: round;
}

.wedge-outline {
    stroke-linejoin: bevel;
    stroke: white;
    stroke-width: 0.17;
    pointer-events: none;
    transition: stroke 2.5s 0.5s;
}

.palette:not(.palette-transparent) .winner .wedge-outline {
    stroke: transparent;
}

/*
 * Puzzle Grid
 */

.grid {
    opacity: 1;
}

.dragging .grid {
    cursor: grabbing;
}

.palette:not(.palette-transparent) .winner .grid {
    opacity: 0;
    transition: opacity 2.5s 0.5s;
}

.grid-hex {
    stroke: rgb(255, 193, 7);
    stroke-width: 0.2;
    fill: rgba(255, 235, 59, 0.2);
}

.palette-transparent .grid-hex {
    stroke: transparent;
    fill: transparent;
}

.grid-outline {
    fill: none;
    stroke: none;
}

@keyframes outlineWrong {
    5% { stroke: stroke: rgb(255, 193, 7); stroke-width: 0.2; }
    10% { stroke: red; stroke-width: 2; }
    100% { stroke-width: 0; }
}

.incorrect .grid-outline {
    animation: 0.75s ease-in-out 0s 1 normal none running outlineWrong;
}

@keyframes piecesWrong {
    10% { transform: translateX(0.5px); }
    30% { transform: translateX(-0.5px); }
    50% { transform: translateX(0.5px); }
    70% { transform: translateX(-0.5px); }
    90% { transform: translateX(0); }
}

.incorrect .puzzle-pieces {
    animation: 0.5s ease-in-out 0s 1 normal none running piecesWrong;   
}

@keyframes flashOutline {
    0% { stroke: rgb(255, 193, 7); stroke-width: 0.2; }
    20% { stroke: white; }
    67% { stroke-width: 4; }
    100% { stroke-width: 0; }
}

.palette:not(.palette-transparent) .winner .grid-outline {
    stroke: rgb(255, 193, 7);
    stroke-width: 0.2;
    animation: 3.25s ease-in-out 0s 1 normal forwards running flashOutline;
}

.palette-transparent .grid-outline {
    stroke: white;
    stroke-width: 0.2;
}

@keyframes flashOutlineTransparent {
    0% { stroke: white; stroke-width: 0.2; }
    67% { stroke-width: 1.25; }
    100% { stroke-width: 0.2; }
}

.palette-transparent .winner .grid-outline {
    animation: 3s ease-in-out 0s 1 normal forwards running flashOutlineTransparent;
}

.off-grid-target {
    fill: transparent;
    stroke: transparent;
    cursor: grabbing;
}