@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "Fredoka One", sans-serif;
}

#screen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

text {
    dominant-baseline: middle;
    text-anchor: middle;
    fill: white;
    stroke: black;
    stroke-linejoin: miter;
    cursor: default;
}

.title {
    font-size: 20;
    stroke-width: 0.75;
}

.label {
    font-size: 8;
    stroke-width: 0.333;
}

.text {
    font-size: 9;
    stroke-width: 0.3;
}

.option {
    font-size: 12;
    stroke-width: 0.5;
    cursor: pointer;
    transition: font-size 0.3s, stroke 0.3s, fill 0.3s;
}

.option:hover {
    font-size: 14;
    stroke: white;
    fill: #673ab7;
}

@keyframes drift {
    from { transform: translate(0, 0); }
    to { transform: translate(-80px, -92px); }
}

.bgpattern {
    animation: drift 30s linear infinite;
}